body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

body {
  background-color: #ccc;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'LCDDotRegular';
  src: url('font/lcddot-webfont.eot');
  src: url('font/lcddot-webfont.eot?iefix') format('eot'),
  url('font/lcddot-webfont.woff') format('woff'),
  url('font/lcddot-webfont.ttf') format('truetype'),
  url('font/lcddot-webfont.svg#webfontdF2RayaJ') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digital7';
  src: url('font/digital-7_italic-webfont.eot');
  src: url('font/digital-7_italic-webfont?iefix') format('eot'),
  url('font/digital-7_italic-webfont.woff') format('woff'),
  url('font/digital-7_italic-webfont.ttf') format('truetype'),
  url('font/digital-7_italic-webfont.svg#webfontdF2RayaJ') format('svg');
  font-weight: normal;
  font-style: normal;
}

.lcddisplay {
	width: 920px;
	padding: 10px;
	background: #B3CBB3; /* old browsers */
	background: -moz-linear-gradient(top, #B3CBB3 14%, #A2BCA2 56%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#B3CBB3), color-stop(56%,#A2BCA2)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B3CBB3', endColorstr='#A2BCA2',GradientType=0 ); /* ie */
	-webkit-box-shadow: inset 1px 1px 5px #333333;
	-moz-box-shadow: inset 1px 1px 5px #333333;
	box-shadow: inset 1px 1px 5px #333333;	color: #000;
	font-size: 1em;
	line-height: 1.2em;
	text-shadow: 2px 2px 0px #9ebb9e;
	border-bottom: 1px rgba(255,255,255,0.2) solid;
	border-right: 1px rgba(255,255,255,0.2) solid;
	border-top: 1px rgba(0,0,0,0.7) solid;
	border-left: 1px rgba(0,0,0,0.7) solid;
	margin-bottom: 1em;
}
.lcddisplay.dotmatrix {
	font-family: LCDDotRegular;
}
.lcddisplay.lcddigits {
	font-family: Digital7;	
	font-size: 2em;
}
.keypad-popup.midnightKeypad { background: #10085a; } 
.midnightKeypad .keypad-key, .midnightKeypad .keypad-special { 
    width: 38px; height: 38px; padding: 5px; 
    background: url(img/midnight.gif) no-repeat; border: none; 
    color: #fff; font-size: 1.5em; font-weight: bold; } 
.midnightKeypad .keypad-key-down { padding: 7px 3px 3px 7px; 
    background: url(img/midnight.gif) no-repeat -38px 0px; } 
.midnightKeypad .keypad-space { width: 38px; height: 38px; }
